<header id="page-header" class="clearfix"></header>
<section id="page-body" class="clearfix">
  <div id="page-background"></div>
    <div id="page-main"><div class="main-inner">
      Welcome!
    </div>
  </div>
</section>
<footer id="page-footer" class="clearfix"></footer>