<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!--[if lte IE 9]>
  <![endif]-->
  <!--[if lt IE 9]>
  <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <noscript class="center">Please enable javascript in your browser and reload the page.</noscript>
</head>
<body>

  {{{content}}}

</body>
</html>
