<div class="user-form login-form">
  <h3>Login</h3>
  <form role="form" class="login account" action="/login" method="POST">
    <div class="form-group {{#if formErrors.email}} error{{/if}}{{#if formErrors.login}} error{{/if}} email">
      <input name="email" type="text" autocomplete="off" id="email-login" class="form-control" placeholder="Email"
             value="{{#if loginErrors}}{{values.email}}{{/if}}">
      {{#if formErrors.email}}<span class="help-block">{{formErrors.email}}</span>{{/if}}
    </div>
    <div class="form-group password{{#if formErrors.login}} error{{/if}}">
      <input name="pass" type="password" autocomplete="off" id="password-login" class="form-control" placeholder="Password">
      {{#if formErrors.login}}<span class="help-block">{{formErrors.login}}</span>{{/if}}
    </div>
    {{> users/partials/extraFields}}
    <span class="forgot-password"><a href="/forgot">Forgot your password?</a></span>
    <input type="submit" class="btn btn-primary log-in-button pull-right" value="Submit">
  </form>
</div>